.Card {
  cursor: pointer;
  max-width: 250px;
  color: #444;
  font-size: 14px;
  padding: 3px 0; /* Paddings are used for smoother animation with `react-beautiful-dnd` */

  &__content {
    background: white;
    padding: 6px;
    border-bottom: 1px solid #ccc;
  }

  &:hover {
    &__content {
      background: #edeff0;
      border-color: #d6dadc;
    }
  }
}
